<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <div>
            <br>    
            <form class="form-group"action="/ingresar" method="POST">
            <input class="form-control" type="text" name="ingreso">
            <button class="btn btn-primary btn-block" type="submit"> Enviar</button>
            </form>
            </div>
        </div>
    </div>
</div>